<div class="card-user">
  <img [src]="user.photo" [alt]="user.name" />
  <h2>{{ user.name }} {{ user.firstName }}</h2>
  <div>{{ mustShow ? user.age + " years old" : "" }}</div>
  <button type="button" (click)="showContent()">
    {{ mustShow ? "Show" : "Hide" }}
  </button>
  <div>one way binding</div>
  <input type="text" #myInput (keyup)="handleChange(myInput.value)" />
  <span>{{ random }}</span>
  <div>two ways binding</div>
  <input
    type="text"
    [(ngModel)]="user.firstName"
    [ngClass]="mustShow ? 'border-red' : 'border-green'"
  />
  <app-fromulaire></app-fromulaire>
</div>
